body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color:#f3f3f3;
}
.key{
    background-color: #1C3144;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    text-align: center;
    border-radius: 30%;
    color: white;
    box-shadow:0 0 2px rgba(255, 255, 255, 0.421);
    opacity: .8;
    transition: opacity 200ms linear;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.key:hover{
    opacity: 1;
}
.answer{
    width: 400px;
    display: flex;
align-items: center;
    flex-direction: column;

}
.boxanswer::placeholder{
    user-select: none;
    opacity: .7;
}

.boxanswer:focus{
    outline: none;

}
.boxanswer{
    width: 350px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-right: 5px;
    box-sizing: border-box;
    font-size: 34px;
    background-color: #f3f3f3;
    color: rgb(87, 86, 86);
    border-radius: 20px;
    overflow: hidden ;
    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.718) ,5px 2px 10px rgba(0, 0, 0, 0.264);
    border-color: transparent;


}
.keys{
    margin-top:20px;
    display: flex;
    justify-content: center;
    width: 400px;
    flex-wrap: wrap;
    gap: 5px;
    user-select: none;

}

.key:nth-child(17){
    width: 165px;
    border-radius: 25px;
}
.AC,.C,.darsad{
    background-color: #8FD6E1;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.5) ;


}
.taghsim,.zarb,.tafrigh,.jam,.mosavi{
    background-color: #d88819;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5) ;
}
.container{
    background-color: rgb(220, 220, 220);
    margin-top: 5%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: -5px -5px 20px rgb(255, 255, 255) ,5px 2px 10px rgba(0, 0, 0, 0.264);

}
.history{
    direction: ltr;
    align-self: flex-start;
    margin-left: 35px;
    margin-bottom: 5px;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (max-width:350px)
{
    .container{
        margin-top: 0px;
        transform: scale(.7);
    }
    

}
